{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}


{% block main %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1>Type Stock Name</h1>
<form action="/quote" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto"  name="symbol" placeholder="symbol" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Look Up</button>
</form>


    <h1> {{ symbol }} </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Symbol</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>{{ name }}</td>
    <td> {{ price }}</td>
    <td> {{ symbol }}</td>
  </tr>
</table>

{% endblock %}